/* 

---------- Sumario --------- //
-------- 1- geral
*/



/* ----------- 1. geral --------------
--------------------------------------*/

.bg-area{
    background: #f9f9f9;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.color-text-header{
    color: #5f5f5f; 
}

.bg-body{
    background-image: url(../img/bg-login.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    bottom: 0 !important;
    color: black !important;
    left: 0 !important;
    overflow: auto !important;
    padding: 0em !important;
    position: absolute !important;
    right: 0 !important;
    text-align: center !important;
    top: 0 !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
