<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Formulário de Pré-Seleção</title>
        <link rel="stylesheet" type="text/css" href="assets/css/geral.css"/>
</head>

    <body>
        <div class="geral">

        <img src="assets/img/logo.png"/>

        <h1>Question&aacute;rio de pré-seleção para o cargo de vendedor</h1>

        <form>

            <label>Nome Completo:</label>

            <input type="text" class="input-text"/><br/>

            <label>E-mail:</label>

            <input type="text" class="input-text"/><br/>

            <label>Já trabalhou com vendas de tecnologia? Se sim, quanto tempo e o que vendia?</label>

            <textarea class="input-textarea"></textarea>

            <label>Defina com as suas palavras o que é um software.</label>

            <textarea class="input-textarea"></textarea>

            <label>Defina com as suas palavras o que é um site.</label>

            <textarea class="input-textarea"></textarea>

            <label>Sabendo que a <span>ROBOTS INFORM&Aacute;TICA E TECNOLOGIA</span> desenvolve sistemas web e aplicativos
                para dispositivos móveis, qual seria sua primeira ação como vendedor?</label>

            <textarea class="input-textarea"></textarea>

            <label>Descreva um estudo de caso simulado em que você conversou com um cliente em potencial, demonstre porque o
                seu possível cliente precisa de um site.</label>

            <textarea class="input-textarea"></textarea>

            <label>Em uma ação de marketing você é responsável por promover um de nossos aplicativos pela cidade, este
                aplicativo teria todos os estabelecimentos da cidade, como se fosse um guia, com critérios de avaliação e
                comentários dos usuários.<br/> Como você promoveria este aplicativo?</label>

            <textarea class="input-textarea"></textarea>

            <input type="submit" class="input-enviar" value="Enviar Respostas"/>

        </form>

        </div> <!--FIM DA DIV GERAL-->
    </body>
</html>
